* {
  margin: 0;
}

.divider-left-50 {
  width: 50px;
  height: 10px;
  background: url(../../assets/img/divider-100.png);
  display: block;
  margin: 20px 10px 10px 0;
  background-size: contain;
}

